body{
    text-align: center;
    background-color: #595cff;
}

h1 {
    font-size: 75px;
    font-family: sans-serif
}

p{
    font-family:monospace;
    font-size: 30px
}

a{
    text-align: center;
}